<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须和接口全限定类名一致 -->
<mapper namespace="com.tuning.mapper.DishFlavorMapper">
    <insert id="insert">
        INSERT INTO dish_flavor (dish_id, name, value)
        VALUES (#{dishId}, #{name}, #{value})
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch">
        INSERT INTO dish_flavor (dish_id, name, value)
        VALUES
        <foreach collection="flavors" item="flavor" separator=",">
            (#{flavor.dishId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <delete id="deleteByDishId">
        DELETE
        FROM dish_flavor
        WHERE dish_id = #{dishId}
    </delete>

    <select id="getByDishId" resultType="com.Tuning.entity.DishFlavor">
        SELECT *
        FROM dish_flavor
        WHERE dish_id = #{dishId}
    </select>
</mapper>