<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须和接口全限定类名一致 -->
<mapper namespace="com.tuning.mapper.EmployeeMapper">

    <select id="selectByUsername" resultType="com.Tuning.entity.Employee">
        SELECT id, name, username, password, status
        FROM employee
        WHERE username = #{username}
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM employee
        WHERE username = #{username}
    </select>

    <insert id="insertEmployee" parameterType="com.Tuning.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee
        (username,
         name,
         password,
         phone,
         sex,
         id_number,
         status,
         create_time,
         update_time,
         create_user,
         update_user)
        VALUES (#{username},
                #{name},
                #{password},
                #{phone},
                #{sex},
                #{idNumber},
                #{status},
                #{createTime},
                #{updateTime},
                #{createUser},
                #{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.Tuning.vo.EmployeeQueryVO">
        SELECT *
        FROM employee
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <update id="updateEmployeeById" parameterType="com.Tuning.entity.Employee">
        UPDATE employee
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            update_time = NOW()  <!-- 更新时间总是更新 -->
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="long" resultType="com.Tuning.entity.Employee">
        SELECT id,
               name,
               username,
               password,
               phone,
               sex,
               id_number,
               status,
               create_time,
               update_time,
               create_user,
               update_user
        FROM employee
        WHERE id = #{id}
    </select>

</mapper>
