<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须和接口全限定类名一致 -->
<mapper namespace="com.tuning.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        VALUES (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee},
                #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>
    <select id="pageQuery" resultType="com.Tuning.entity.Orders">
        SELECT * FROM orders
        <where>
            <if test="number != null and number!=''">
                AND number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                AND phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="beginTime != null">
                AND order_time = #{beginTime}
            </if>
            <if test="endTime != null">
                AND order_time = #{endTime}
            </if>
        </where>
        ORDER BY order_time DESC
    </select>

</mapper>