<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须和接口全限定类名一致 -->
<mapper namespace="com.tuning.mapper.SetmealDishMapper">
    <select id="getSetmealDishByDishIds" resultType="java.lang.Long">
        SELECT setmeal_id
        FROM setmeal_dish
        WHERE dish_id IN
        <foreach collection="dishIds" item="dishId" open="(" close=")" separator=",">
            #{dishIds}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO setmeal_dish
        (setmeal_id, dish_id, name, price, copies)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.setmealId}, #{item.dishId}, #{item.name}, #{item.price}, #{item.copies})
        </foreach>
    </insert>

    <delete id="deleteBySetmealid">
        DELETE
        FROM setmeal_dish
        WHERE setmeal_id = #{setmealId}
    </delete>

    <select id="getBySetmealId" resultType="com.Tuning.entity.SetmealDish">
        SELECT *
        FROM setmeal_dish
        WHERE setmeal_id = #{setmealId}
    </select>


</mapper>